@import "../../assets/Global.scss";

.BoardItems{
    margin : 20px 0 80px 20px;
    width: 100%;
    .BoardItems-container{
        width: 100%;
        .BoardItems-line{
            opacity: 0.7;
            color: black;
        }
        .BoardItems-title{
            display: flex;
            justify-content: space-between;
            .BoardItems-title-name{
                display: flex;
            }
            .BoardItems-span{
                font-size: 20px;
            }
            
        }
        .BoardItems-box{
            .BoardItems-box-contain{
                display: flex;
                padding: 4px 15px 4px 12px;
                justify-content: space-between;
                cursor: pointer;
                .BoardItems-left{
                    display: flex;
                    a{
                        text-decoration: none;
                        color: black;
                        margin-top: 2px;
                        font-size: 18px;
                    }
                    .BoardItems-title{
                        font-size: 16px;
                    }
                }
                .BoardItems-right{
                    display: flex;
                    .BoardItems-date{
                        margin: 4px 10px 0 0;
                        color: gray;
                        opacity: 0.7;
                        font-size: 15px;
                    }
                    .BoardItems-like{
                        margin: 3px 5px 0 0;
                        height: 20px;
                    }
                    .BoardItems-like-count{
                        margin: 3px 5px 0 0;
                        color: gray;
                    }
                    .BoardItems-view{
                        margin-top: 3px;
                        font-size: 15px;
                        color: gray;
                    }
                }
            }            
        }
        .Board-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                margin-left: 70px;
                display: flex;
                li{
                    margin: 6px;
                    cursor: pointer;
                    background: none;
                    width: 20px;
                    height: 25px;
                    text-align: center;
                    color: #000;
                    line-height: 25px;
                }
                .active{color:$nav-color; background: #f9f9f9;}
            }
            .create-board{
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                height: 30px;
                width: 70px;
                padding: 2px 10px 2px 10px;
                border: 1px solid #8b8e94;
                text-decoration: none;
                border-radius: 8px;
                span{
                    font-size: 16px;
                }
            }
        }
    }
}