.comment{
    margin: 20px 0 40px 20px;
    .comment-count{
        margin: 6px 0 18px 30px;
        font-size: 18px;
    }
    .comment-container{
        margin: 20px 0 40px 20px;
        padding: 28px;
        background-color: #f3f5f7;
        display: flex;
        align-items: center;
        height: 50px;
        .comment-username{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            .comment-profile{
                margin: 0 auto;
                font-size: 18px;
            }
        }
        textarea{
            margin-right: 5px;
            margin-left: 10px;
            border: 1px solid rgb(209, 209, 209);
            text-decoration: none;
            width: 83%;
            height: 45px;
            vertical-align: baseline;
            box-sizing: content-box;
        }
        a{
            button{
                width: 80px;
                height: 50px;
                font-size: 15px;
            }
        }
    }
    .other-comment{
        margin: 20px 0 40px 20px;
    }
}


