.ModiBoard{
    margin: 40px 0 0 50px;
    .ModiBoard-container{
        display: flex;
        flex-direction: column;
        span{
            margin-bottom: 10px;
        }
        .board-title{
            border: 1px solid gray;
            height: 30px;
            margin-bottom: 10px;
        }
        a{
            margin: 0 auto;
            .board-submit{
                border: none;
                height: 40px;
                border-radius: 10px;   
                width: 200px;
                background-color: #488bf4;
                span{
                    font-size: 19px;
                    color: white;
                }
            }
            :hover{
                margin-bottom: 30px;
                height: 50px;
                width: 230px;
                span{
                    font-size: 24px;
                    color: white;
                }
            }
        }
        select{
            height: 32px;
            margin-bottom: 10px;
        }
    }
}
