.login-modal-container{
    width: 550px;
    height: 550px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,30%);
    z-index: 100;
    .login-modal-content{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.black-out{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}