@import "../../assets/Global.scss";

.report{
	position: absolute;
	z-index: 999;
	width: 600px;
	height: 630px;
	background-color: white;
	border-radius: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	.report-header{
		background: #fff;
		position: relative;
		margin-top: 25px;
		margin-left: 15px;
		margin-bottom: 10px;	
		.report-title{
			text-align: center;
			color: #303038;
			font-size: 26px;
			min-height: 30px;
		}
		.report-close{
			position: absolute;
			top: 2px;
			right: 0;
			cursor: pointer;
			height: 30px;
			width: 30px;
			border: none;
			background-color: #fff;
			.report-closeFont{
				position: absolute;
				top: 0;
				left: -12px;
				font-size: 20px;
			}
		}
	}
	.report-container{
		.report-data{
			margin: 15px 25px 20px 25px;
			.report-area{
				display: flex;
				font-size: 20px;
				letter-spacing: -0.35px;
				color: #929294;
				margin: 15px;
				p{
					color: black;
					margin-left: 5px;
				}
			}
			.report-area2{
				display: flex;
				font-size: 20px;
				color: #929294;
				margin: 15px;
				p{
					color: black;
					margin-left: 5px;
				}
			}
		}
		.report-reason{
			margin: 40px;
			display: flex;
			flex-direction: column;
			.reason-title{
				display: block;
				padding-bottom: 11px;
				margin-bottom: 10px;
				font-size: 24px;
				letter-spacing: -0.5px;
				color: #1e1e23;
			}
			ul{
				margin-left: 10px;
				list-style: none;
				.reason-item{
					cursor: pointer;
					position: relative;
					font-size: 16px;
					letter-spacing: -0.5px;
					color: #1e1e23;
					line-height: 21px;
					background: #fff;
					display: flex;
					margin-bottom: 7px;
					.reason-select{
						background-color: $nav-color;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						text-align: center;
						line-height: 38px;
					}
					.none-select{
						background-color: white;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						border: 1px solid #dcdcdc;
						text-align: center;
						line-height: 36px;
					}
					.report-reasons{
						position: absolute;
						width: 1px;
						height: 1px;
						padding: 0;
						margin: -1px;
						overflow: hidden;
						clip: rect(0, 0, 0, 0);
						border: 0;
					}
					.report-reason-items{
						font-size: 18px;
						margin: 3px 0 0 7px;
					}
				}
			}
			.report-btn{
				margin: 15px auto;
				background-color: $nav-color;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				width: 95%;
				height: 43px;
				line-height: 32px;
				text-align: center;
				border-radius: 6px;
				box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);
				border: solid 0.5px rgba(0, 0, 0, 0.1);
				cursor: pointer;
			}
		}
	}
}
.report-background{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.7);
}