.login-container{
    .login-header{
        display: flex;
        width: 100%;
        height: 70px;
        background-color: black;
        align-items: center;
        justify-content: center;
        .login-logo{ // 임시
            color: white;
            font-size: 45px;
        }
    }
    .login-bottom-container{
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        width: 70%;
        height: 40vh;
        .login-title{
            margin: 50px auto;
            font-size: 50px;
        }
        .social-login-btn{
            margin: 5px auto;
            width: 200px;
            height: 46px;
            background-color: #fff;
            border: 1px solid #c4c4c9;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}