.header{
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 11;
    background-color: #488bf4;
    .header-container{
        display: flex;
        justify-content: space-between;
        height: 70px;
        .header-left{
            font-size: 30px;
            margin: 20px 0 0 20px;
            padding-bottom: 50px;
            cursor: pointer;
            color: white;
            .main-logo{
                
            }
        }
        .header-right{
            .login-link{
                margin-top: 20px;
                margin-right: 35px;
                color:white;
                font-size: 25px;
            }
        }
        .header-center{
            .header-logo{
                width: 200px;
                margin-left: 5px;
            }
        }
    }
}