.header{
    width: 100%;
    height: 70px;
    .header-container{
        display: flex;
        justify-content: space-between;
        height: 70px;
        background-image: url('../../assets/banner1.png');
        background-size: cover;
        background-position: 0% 96%;
        .header-left{
            font-size: 30px;
            margin: 0 0 0 35px;
            padding-bottom: 50px;
            .header-logo{
                line-height: 60px;
                text-decoration: none;
                color: white;
            }
        }
        .header-right{
            display: flex;
            .login-link{
                text-decoration: none;
                line-height: 60px;
                margin-right: 45px;
                color:white;
                font-size: 25px;
            }
        }
        .header-center{
            display: flex;
            .header-search{
                margin: 12px 1px 0 0;
                width: 304px;
                height: 44px;
                background-color: white;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                padding-left: 16px;
                padding-right: 40px;
                box-sizing: border-box;
                outline: none;
            }
            
        }
        .search-link{
            margin-top: 13px;
            border-radius: 6px;
            height: 42px;
            width: 42px;
            margin-left: 1px;
            .search-btn{
                display: flex;
                margin: 2px auto;
                width: 36px;
            }
        }
    }
}