.profileHeader{
	.profileHeader-container{
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		width: 100%;
		.profile-left{
			background-color: #488bf4;
			width: 30vw;
			height: 50vh;
		}
		.profile-right{
			background-color: yellow;
			width: 30vw;
			height: 50vh;
		}
	}
}