.viewBoard{
    width: 100%;
    margin: 20px 0 40px 20px;
    .board-category{
        font-size: 18px;
        margin-bottom: 12px;
        margin-left: 6px;
    }
    .board-detail-content{
        margin: 20px 25px 30px 25px;
        .board-detail-title{
            font-size: 26px;
            margin-bottom: 10px;
        }
        .board-detail-bottom{
            display: flex;
            justify-content: space-between;
            .board-detail-title1{
                display: flex;
                align-items: center;
                opacity: 0.7;
                color: gray;
                .board-detail-heart{
                    margin-top: 3px;
                    width: 20px;
                }
                span{
                    font-size: 15px;
                }
            }
            .board-detail-title2{
                display: flex;
                align-items: center;
            }
        }
    }
}