.update{
    margin : 20px 0 0 20px;
    // background-color: yellow;
    .update-container{
        .update-line{
            opacity: 0.7;
            color: black;
        }
        .update-title{
            display: flex;
            .update-span{
                font-size: 24px;
            }
        }
        .update-box{
            .update-box-contain{
                display: flex;
                padding: 15px;
                justify-content: space-between;
                .update-left{
                    display: flex;
                    a{
                        text-decoration: none;
                        color: black;
                        margin-top: 2px;
                        font-size: 18px;
                    }
                }
                .update-right{
                    display: flex;
                    .update-date{
                        margin: 4px 10px 0 0;
                        color: gray;
                        opacity: 0.7;
                        font-size: 15px;
                    }
                    .update-like{
                        margin: 3px 5px 0 0;
                        height: 20px;
                    }
                    .update-like-count{
                        margin: 3px 5px 0 0;
                        color: gray;
                    }
                    .update-view{
                        margin-top: 3px;
                        font-size: 15px;
                        color: gray;
                    }
                }
            }
        }
    }
}