$nav-color : #488bf4;
$header-color : rgb(30, 55, 153);

.default{
    width: 100%;
    height: 100%;    
    .default-slice{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .default-container{
            display: flex;
            .default-page{
                display: block;
                max-width: 51vw;
                min-width: 51vw;
            }
        }
    }
}

.profile{
    width: 100%;
    .profile-container{
        margin-top: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@mixin mobile {
	@media (max-width: 500px) {
	  @content;
	}
}

@mixin tablet {
	@media (max-width: 768px) {
	  @content;
	}
}

@include mobile {
	.footer{
		left: 65%;
	}
}

@include tablet {
	.footer{
		left: 65%;
	}
}