@import "../../assets/Global.scss";

.profileTable{
	width: 49vw;
	.profileTable-container{
		font-family: 'DungGeunMo';
		background-color: white;
		width: 900px;
		min-height: 100%;
		max-height: 100vh;
		display: flex;
		flex-direction: column;
		.profile-items{
			margin-bottom: 2px;
		}
		.profile-table{
			display: table;
			box-sizing: border-box;
			border-spacing: 2px;
			width: 100%;
			table-layout: fixed;
			thead{
				display: table-header-group;
				vertical-align: middle;
				border-color: inherit;
				tr{
					display: table-row;
					vertical-align: inherit;
					border-color: inherit;
					th{
						line-height: 36px;
						height: 40px;
						padding: 2px;
						border-top: 1px solid #8c8c8c;
						border-bottom: 1px solid #8c8c8c;
						text-align: center;
					}
				}
			}
			tbody{
				display: table-row-group;
				vertical-align: middle;
				border-color: inherit;
				tr{
					
					display: table-row;
					vertical-align: inherit;
					border-color: inherit;
					.profile-comment-null{
						height: 40px;
						line-height: 37px;	
						text-align: center;
						border-bottom: 1px solid #8c8c8c;
						width: 93%;
					}
					td{
						border-bottom: 1px solid #8c8c8c;
						text-align: center;
						padding : 12px 0 11px 12px;
					}
					.profile-checkbox{
						margin: 8px 7px 8px 12px;
					}
					.comment-td{
						text-align: left;
						.comment-data{
							margin-bottom: 5px;
							margin-left: 32px;
							color: #8c8c8c;
							font-size: 14px;
						}
					}
				}
				.line2{
					border: 0;
					height: 0;
					border-top: 1px solid #8c8c8c;
					opacity: 0.4;
					width: 97%;
				}
			}
			
		}
		.profile-move{
			cursor: pointer;
		}
		.profile-items{
			display: flex;
			.profile-item{
				font-size: 20px;
				margin: 9px 12px 4px 11px;
				cursor: pointer;
				font-weight: 700;
			}	
		}
		.line1{
			border: 0;
			border-top: 2px solid #8c8c8c;
			width: 97%;
		}
		.profile-title{
			margin : 5px auto 10px auto;
			.profile-title-set1{
				margin-right: 350px;
				margin-left: 290px;
			}
			.profile-title-set2{
				margin-right: 60px;
			}
			.profile-title-set4{
				margin-right: 260px;
				margin-left: 250px;
			}
			.profile-title-set5{
				margin-right: 100px;
			}
			.profile-title-set6{
				margin-right: 60px;
			}
		}
		
		.profile-content{
			margin: 15px 0 15px 20px;
			.profile-content-container{
				display: flex;
				justify-content: space-between;
				.profile-checkbox{
					margin-right: 7px;
				}
				.profile-content-title-date{
					margin-right: 49px;
				}
				.profile-content-title-view{
					margin-right: 49px;
				}
			}
			
		}
		
		.profile-content3{
			margin: 15px 0 15px 20px;
			.profile-content-container{
				display: flex;
				justify-content: space-between;
				.profile-checkbox{
					margin-right: 7px;
				}
				.profile-content-like-date{
					margin-right: 82px;
				}
				.profile-content-like-name{
					margin-right: 67px;
				}
				.profile-content-like-view{
					margin-right: 43px;
				}
			}
		}
		.profile-entire{
			margin: 10px 0 0 20px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.profile-entire-left{
				input{
					margin-right: 7px;
				}
			}
			.profile-entire-right{
				margin-right: 18px;
				.btn{
					border: none;
					width: 60px;
					height: 30px;
					cursor: pointer;
				}
				.btn2{
					border: none;
					width: 100px;
					height: 30px;
					cursor: pointer;
				}
			}			
		}
	}
}