.preview {
  display: none;
  padding: 1rem;
  margin-top: 1rem;
}

.editor{
    height: 500px !important;
    border: 1px solid #f1f1f1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
}

.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
}
.editor-class {
  
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}
.editor-class{
  min-height: 500px;
}